<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
	<title>Component Exercise</title>
	<link href="normalize.css" rel="stylesheet" >
    <link href="main.css" rel="stylesheet" >
</head>
<body>
	<aside>
	<h2>Barnes & Noble</h2>
	<h3>Typography</h3>
	<ul>
	<li><a href="#body-text">Body Text</a></li>
	<li><a href="#h1-header">H1 Header</a></li>
	<li><a href="#bookinfo__date">Book Listing Date</a></li>
	<li><a href="#bookinfo__title">Book Listing Title</a></li>
	<li><a href="#account-label">Header Account Label</a></li>
	<li><a href="#carousel-header">Carousel List Header</a></li>
	<li><a href="#ftblock-header">Footer Block Header</a></li>
	<li><a href="#ftlist-header">Footer Link List Header</a></li>
	<li><a href="#ft-rewardstext">Footer Rewards Block Text</a></li>
	<li><a href="#ft-subscribetext">Footer Subscribe Block Text</a></li>
	<li><a href="#pricingtable-header">Pricing Table Column Header</a></li>
	<li><a href="#pricingtable-availability">Pricing Table Availability</a></li>
	<li><a href="#pricingtable-price">Pricing Table Price</a></li>
	</ul>
	<h3>Atoms</h3>
	<ul>
	<li><a href="#account__arrow">Account Dropdown Arrow</a></li>
	<li><a href="#listing__cover">Book Cover</a></li>
	<li><a href="#account__icon">Account Icon</a></li>
	<li><a href="#listing__orderbtn">Book Listing Order Button</a></li>
	<li><a href="#carlist__control">Carousel List Control</a></li>
	<li><a href="#cart__icon">Shopping Cart Icon</a></li>
	<li><a href="#cart__indic">Shopping Cart Items Indicator</a></li>
	<li><a href="#featured__linkitem">Featured Link Item</a></li>
	<li><a href="#ftinput__btn">Footer Input Button</a></li>
	<li><a href="#ftinput__textbox">Footer Input Text Box</a></li>
	<li><a href="#navbar__locicon">Navbar Location Icon</a></li>
	<li><a href="#pricinginfo__options">Pricing Info Table Options</a></li>
	<li><a href="#seachbar__btn">Search Bar Button</a></li>
	<li><a href="#searchbar__filter">Search Bar Filter Dropdown</a></li>
	<li><a href="#searchbar__input">Search Bar Text Input</a></li>
	<li><a href="#ftsocial__item">Footer Social Link Items</a></li>
	<li><a href="#wishlist__icon">Wishlist Icon</a></li>
	</ul>
	<h3>Header</h3>
	<ul>
	<li><a href="#full-header">Full Header</a></li>
	<li><a href="#account">Account Dropdown</a></li>
	<li><a href="#navbar1">Top Navbar</a></li>
	<!-- <li><a href="#navbar2">Navbar/Dropdown</a></li> -->
	<li><a href="#navbar2-link">Dropdown Item</a></li>
	<!-- <li><a href="#navbar-drop">Header Dropdown Menu</a></li> -->
	<li><a href="#search-bar">Header Search Bar</a></li>
	<li><a href="#wishlist">Wishlist Button</a></li>
	</ul>
	<h3>Links</h3>
	<ul>
	<li><a href="#author">Book Info Author</a></li>
	<li><a href="#seeall">Carousel See All Link</a></li>
	<li><a href="#ftllist-item">Footer Link List Item</a></li>
	<li><a href="#logo">Header Logo</a></li>
	<li><a href="#inline-link">Inline Links</a></li>
	<li><a href="#navbar1-link">Top Navbar Link</a></li>
	<li><a href="#pricing-format">Pricing Table Format Button</a></li>
	<li><a href="#rewards-link">Footer Rewards Link</a></li>
	<li><a href="#wishlist-link">Wishlist Link</a></li>
	</ul>
	<h3>Banners/Ads</h3>
	<ul>
	<li><a href="#header-ad">Header Ad</a></li>
	<li><a href="#banner-list">Banner Carousel</a></li>
	</ul>
	<!-- <h3>Slick Lists/Carousels</h3>
	<ul>
	<li><a href="#!"></a></li>
	</ul> -->
	<h3>Footer</h3>
	<ul>
	<li><a href="#footer">Full Footer</a></li>
	<li><a href="#featuredlinks">List of Featured Links</a></li>
	<li><a href="#ftlinklist">Link List</a></li>
	<li><a href="#rewardsblock">Rewards Block</a></li>
	<li><a href="#socialblock">Social Media Block</a></li>
	<li><a href="#storefinder">Store Finder Block</a></li>
	<li><a href="#sfinput">Store Finder Textbox</a></li>
	<li><a href="#subblock">Subscribe Block</a></li>
	<li><a href="#subinput">Subscribe Textbox</a></li>
	</ul>
	<h3>List Items</h3>
	<ul>
	<li><a href="#booklisting">Book Page Listing</a></li>
	</ul>
	</aside>
	
	<main>
	<h1>Components</h1>
	<h3 class="comps-sectionhead">Typography</h3>
	<div class="component-wrapper">
	<img class="screenshot" src="images/typography/body.png" alt="body text" id="body-text">
	<p> Body Text:: Lato - weight:400, line-height: 1.8, size: .9375rem.</p>
	<p class="small-text">If you're looking for what book to read next, explore the Barnes & Noble Top 100 Best Sellers list to discover all the current top books from your favorite authors and genres. Browse a large variety of books on topics you love or the best new books to discover! Whether you're interested in historical biographies, mysteries, or classic literature, discover the best <a class="listing__link" href="#!">books</a> to read and recommended books from the book experts at B&N. You can also check out our list of the <a class="listing__link" href="#!">best books of 2023</a>, the <a class="listing__link" href="#!">best audiobooks of 2023</a>, and the <a class="listing__link" href="#!">best books of all time!</a></p>
	</div>
	
	<div class="component-wrapper">
	<img class="screenshot" src="images/typography/h1.png" alt="header text" id="h1-header">
	<h1>B&N Top 100: Bestselling Books</h1>
	<p>H1 Header:: Poynter,Georgia,serif - weight:400, line-height:1.25, size:2.5rem.</p>
	</div>
	
	<div class="component-wrapper">
	<img class="screenshot" src="images/typography/BookInfo__date.png" alt="date text" id="bookinfo__date">
	<h4 class="listing__date">(01/21/2025)</h4>
	<p>H4 Header:: Lato - weight:300, line-height: 20px, size:12pt, color:#727272,</p>
	</div>
	
	<div class="component-wrapper">
	<img class="screenshot" src="images/typography/BookInfo__title.png" alt="header text" id="bookinfo__title">
	<h4 class="listing__header">
		<a href="#!">Onyx Storm (Deluxe Limited Edition)</a>
	</h4>
	<p>H4 Header:: Lato - weight:400, line-height:1.375rem, size:1.375rem, color:#000</p>
	</div>
	
	<div class="component-wrapper">
	<img class="screenshot" src="images/typography/Account__Label.png" alt="component text" id="account-label">
	<p class="account__label">My Account</p>
	<p>Paragraph:: Lato - weight:500, line-height:normal, size:12px, color:#484848</p>

	</div>
	
	<div class="component-wrapper">
	<img class="screenshot" src="images/typography/CarouselList__Header.png" alt="header text" id="carousel-header">
	<h2>Now in Paperback</h2>
	<p>H2 Header:: Poynter, Georgia, serif - font-size:2.155rem, font-style:italic, color:#21282d, font-weight:600, line-height:1.3</p>
	</div>
	
	<div class="component-wrapper">
	<img class="screenshot" src="images/typography/footer-blockheader.png" alt="footer block header text" id="ftblock-header">
	<h4 class="footer__blockheader">Rewards</h4>
	<p>H4 Header:: Lato - text-transform:uppercase, letter-spacing:0.35px, font-size:0.9375rem, color:black, line-height:1.5</p>
	</div>
	
	<div class="component-wrapper">
	<img class="screenshot" src="images/typography/ftlinklist__header.png" alt="footer list header text" id="ftlist-header">
	<h4 class="footer__listheader">B&N Services</h4>
	<p>H4 Header:: Lato - text-transform:uppercase, letter-spacing:0.35px, font-size:0.9375rem, color:black, line-height:1.5</p>
	</div>
	
	<div class="component-wrapper">
	<img class="screenshot" src="images/typography/rewardsblock__text.png" alt="footer rewards block text" id="ft-rewardstext">
	<p class="ftrewards__text">Enroll in Rewards for <b>FREE</b>. Watch your savings add up!</p>
	<p>Paragraph:: Lato - margin-bottom:2px, font-size:12px, color:#6e7880, line-height: 18px, letter-spacing:0.4px</p>
	</div>
	
	<div class="component-wrapper">
	<img class="screenshot" src="images/typography/subscribeblock__text.png" alt="subscribe block text" id="ft-subscribetext">
	<p class="ftsubscribe__text">Submit your email address to receive Barnes & Noble offers & updates. You can view Barnes & Noble’s Privacy Policy <a href="#!">here</a>. Unsubscribe from our emails at any time. </p>
	<p>Paragraph:: Lato - font-size:12px, color:#6e7880, line-height: 18px, letter-spacing:0.4px</p>
	</div>
	
	<div class="component-wrapper">
	<img class="screenshot" src="images/typography/PricingInfo__colheader.png" alt="pricing table header text" id = "pricingtable-header">
			<table class="pricinginfo">
			<thead>
			<tr>
			<th class="pricinginfo__colheader">Format</th>
			</tr>
			</thead>
			<tbody></tbody>
			</table>
	</div>
	
	<div class="component-wrapper">
	<img class="screenshot" src="images/typography/PricingInfo__availability.png" alt="pricing table text" id="pricingtable-availability">
	<table class="pricinginfo">
			<thead>
			<tr>
			<th class="pricinginfo__colheader">Availability</th>
			</tr>
			</thead>
			<tbody>
			<tr>
			<td class="pricinginfo__availability">
			<svg class="pricinginfo__checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/></svg> Pre-order Now</td>
			</tr>
			</tbody>
			</table>
	</div>
	
	<div class="component-wrapper">
	<img class="screenshot" src="images/typography/PricingInfo__price.png" alt="pricing table price text" id="pricingtable-price">
	<table class="pricinginfo">
			<thead>
			<tr>
			<th class="pricinginfo__colheader">Price</th>
			</tr>
			</thead>
			<tbody>
			<tr>
			<td class="pricinginfo__price">$32.99</td>
			</tr>
			</tbody>
			</table>
	</div>
	
	<!--  Atoms Section  -->
	<h3 class="comps-sectionhead">Atoms</h3>
	 
	<div class="component-wrapper">
	<img class="screenshot" src="images/atoms/Account__Arrow.png" alt="icon" id="account__arrow">
	<svg class="dropdown-chevron" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/></svg>
	</div>
	
	
	<div class="component-wrapper">
	<img class="screenshot" src="images/atoms/Account__Logo.png" alt="icon" id="account__icon">
	<svg class="account__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M406.5 399.6C387.4 352.9 341.5 320 288 320H224c-53.5 0-99.4 32.9-118.5 79.6C69.9 362.2 48 311.7 48 256C48 141.1 141.1 48 256 48s208 93.1 208 208c0 55.7-21.9 106.2-57.5 143.6zm-40.1 32.7C334.4 452.4 296.6 464 256 464s-78.4-11.6-110.5-31.7c7.3-36.7 39.7-64.3 78.5-64.3h64c38.8 0 71.2 27.6 78.5 64.3zM256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zm0-272a40 40 0 1 1 0-80 40 40 0 1 1 0 80zm-88-40a88 88 0 1 0 176 0 88 88 0 1 0 -176 0z"/></svg>
	</div>
	
	<div class="component-wrapper">
	<img class="screenshot" src="images/covers/BookListing__cover.png" alt="Book Cover" id="listing__cover">
	<div class="listing-wrapper">
		<h3 class="list-index">1</h3>
		<div class="listing">
		
		<div class="image-wrapper">
			<img class="listing__cover" src="images/covers/book1.webp" alt="book cover">
			<svg class="wishlist-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z"/></svg>
		</div>
		
		</div>
	</div>
	
	</div>
	
	<div class="component-wrapper">
	<img class="screenshot" src="images/atoms/BookListing__orderbtn.png" alt="button" id="listing__orderbtn">
	<a class="listing__orderbtn" href="#!">PRE-ORDER</a>
	</div>
	
	<div class="component-wrapper">
	<img class="screenshot" src="images/atoms/CarouselList__control.png" alt="icon" id="carlist__control">
	<svg class="clcontrol" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256 246.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z"/></svg>
	</div>
	
	<div class="component-wrapper">
	<img class="screenshot" src="images/atoms/Cart.png" alt="icon" id="cart__icon">
	<svg width="33" height="38" xmlns="http://www.w3.org/2000/svg"><path d="M23.097 18.988l-.165.783H7.77L5.75 8.862H25.25l-2.154 10.126zm-14.89 7.955c.934 0 1.692.713 1.692 1.591s-.758 1.59-1.693 1.59c-.933 0-1.691-.712-1.691-1.59 0-.878.758-1.591 1.691-1.591zm13.014 0c.934 0 1.691.713 1.691 1.591s-.757 1.59-1.691 1.59-1.692-.712-1.692-1.59c0-.872.746-1.58 1.672-1.591h.02zm5.802-19.454H5.5L4.241.689a.714.714 0 00-.713-.564H.471v1.363h2.447l4.476 24.21c-1.338.358-2.303 1.496-2.303 2.847 0 1.631 1.407 2.955 3.142 2.955 1.736 0 3.142-1.324 3.142-2.954 0-.595-.187-1.15-.508-1.613l7.695.01c-.308.449-.49.996-.49 1.583 0 1.627 1.401 2.946 3.132 2.946 1.73 0 3.133-1.32 3.133-2.946 0-1.627-1.403-2.945-3.133-2.945H8.844l-.822-4.446H24.15l.397-1.918.356-1.727.234-1 1.886-9.001z" fill="#000" fill-rule="evenodd"></path>
	</svg>
	
	</div>
	
	<div class="component-wrapper">
	<img class="screenshot" src="images/atoms/Cart__Items.png" alt="icon" id="cart__indic">
	<div class="cart__items">0</div>
	
	</div>
	
	<div class="component-wrapper">
	<img class="screenshot" src="images/atoms/featuredLinks__item.png" alt="link" id="featured__linkitem">
	<a class="ft-featured" href="#!"><img class="ft-featured__img" src="images/atoms/ftfeatured__item.png" alt="link">B&N APPS</a>
	</div>
	
	<div class="component-wrapper">
	<img class="screenshot" src="images/atoms/footerinput__button.png" alt="button" id="ftinput__btn">
	<form method="post" >
	<label>
	<input class="footer-submitbtn" type="submit" value="">
	<svg class="submit-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/></svg>
	</label>
	</form>
	</div>
	
	<div class="component-wrapper">
	<img class="screenshot" src="images/atoms/footerinput__textbox.png" alt="text box input" id="ftinput__textbox">
	<form >
	<input class="ftinput__textbox" type="text" placeholder="Store name, location, or ZIP code" value="">
	</form>
	</div>
	
	<div class="component-wrapper">
	<img class="screenshot" src="images/atoms/Navbar1__LocationIcon.png" alt="location icon" id="navbar__locicon">
	<svg class="location-icon" width="18" height="24" xmlns="http://www.w3.org/2000/svg"><path d="M6.024.138c1.664 0 3.215.72 4.32 1.964a6.405 6.405 0 011.581 4.238c0 .443-.045.882-.132 1.312l-.171-.03.162.048a10.377 10.377 0 01-1.388 2.959l-.229.318-4.163 6.582-4.16-6.568A10.349 10.349 0 01.219 7.69a6.304 6.304 0 01-.143-1.343c0-1.591.573-3.092 1.592-4.248A5.757 5.757 0 015.983.138zm0 1.35h-.04a4.407 4.407 0 00-3.306 1.505 5.055 5.055 0 00-1.253 3.354c0 .358.036.702.1 1.007a9.09 9.09 0 001.43 2.841l3.047 4.81 3.054-4.823a8.943 8.943 0 001.321-2.536l.104-.332.035-.19c.026-.172.043-.346.052-.52l.007-.264c0-1.259-.45-2.44-1.244-3.344-.85-.957-2.035-1.508-3.307-1.508zM6 3.813a2 2 0 110 4 2 2 0 010-4z" fill="#000" fill-rule="nonzero"></path></svg>
	</div>
	
	<div class="component-wrapper">
	<img class="screenshot" src="images/atoms/PricingInfo__options.png" alt="options text" id="pricinginfo__options">
	<div class="bottom-row">
			<p class="pricinginfo__options">Also available as: 
			<a class="listing__link" href="#!">Hardcover</a>, 
			<a class="listing__link" href="#!">See All 
			<svg class="link-chevron" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/></svg></a> 
			
			</p>
			</div>
	</div>
	
	<div class="component-wrapper">
	<img class="screenshot" src="images/atoms/SearchBar__button.png" alt="search icon" id="seachbar__btn">
	<form >
	<label>
	<input class="footer-submitbtn" type="submit" value="">
	<svg class="search-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/></svg>
	</label>
	</form>
	</div>
	
	<div class="component-wrapper">
	<img class="screenshot" src="images/atoms/SearchBar__filter.png" alt="search bar filter" id="searchbar__filter">
	<form >
	<select class="searchbar__filter">
		<option value="All">All</option>
		<option value="Books">Books</option>
		<option value="Audiobooks">Audiobooks</option>
		<option value="NOOK">ebooks & NOOK</option>
		<option value="Textbooks">Textbooks</option>
		<option value="Newsstand">Newsstand</option>
		<option value="Teens">Teens & YA</option>
		<option value="Kids">Kids</option>
		<option value="Toys">Toys & Games</option>
		<option value="Gifts">Stationery & Gifts</option>
		<option value="Movies">Movies & TV</option>
		<option value="Music">Music</option>
		<option value="Book Annex">Book Annex</option>
	</select>
	</form>
	</div>
	
	<div class="component-wrapper">
	<img class="screenshot" src="images/atoms/SearchBar__input.png" alt="search bar text input" id="searchbar__input">
	<form >
	<input class="searchbar__textbox" type="text" placeholder="Search by Title, Author, Keyword or ISBN" value="">
	</form>
	</div>
	
	<div class="component-wrapper">
	<img class="screenshot" src="images/atoms/socialblock__button.png" alt="Social media link" id="ftsocial__item">
	<a class="socialblock__button">
		<svg class="social-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M80 299.3V512H196V299.3h86.5l18-97.8H196V166.9c0-51.7 20.3-71.5 72.7-71.5c16.3 0 29.4 .4 37 1.2V7.9C291.4 4 256.4 0 236.2 0C129.3 0 80 50.5 80 159.4v42.1H14v97.8H80z"/></svg>
	</a>
	</div>
	
	<div class="component-wrapper">
	<img class="screenshot" src="images/atoms/Wishlist__Logo.png" alt="icon" id="wishlist__icon">
	<svg class="wishlist-icon2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M225.8 468.2l-2.5-2.3L48.1 303.2C17.4 274.7 0 234.7 0 192.8v-3.3c0-70.4 50-130.8 119.2-144C158.6 37.9 198.9 47 231 69.6c9 6.4 17.4 13.8 25 22.3c4.2-4.8 8.7-9.2 13.5-13.3c3.7-3.2 7.5-6.2 11.5-9c0 0 0 0 0 0C313.1 47 353.4 37.9 392.8 45.4C462 58.6 512 119.1 512 189.5v3.3c0 41.9-17.4 81.9-48.1 110.4L288.7 465.9l-2.5 2.3c-8.2 7.6-19 11.9-30.2 11.9s-22-4.2-30.2-11.9zM239.1 145c-.4-.3-.7-.7-1-1.1l-17.8-20c0 0-.1-.1-.1-.1c0 0 0 0 0 0c-23.1-25.9-58-37.7-92-31.2C81.6 101.5 48 142.1 48 189.5v3.3c0 28.5 11.9 55.8 32.8 75.2L256 430.7 431.2 268c20.9-19.4 32.8-46.7 32.8-75.2v-3.3c0-47.3-33.6-88-80.1-96.9c-34-6.5-69 5.4-92 31.2c0 0 0 0-.1 .1s0 0-.1 .1l-17.8 20c-.3 .4-.7 .7-1 1.1c-4.5 4.5-10.6 7-16.9 7s-12.4-2.5-16.9-7z"/></svg>
	</div>
	
	<h3 class="comps-sectionhead">Header</h3>
	
	<!-- <li><a href="#full-header">Full Header</a></li>
	<li><a href="#account">Account Dropdown</a></li>
	<li><a href="#navbar1">Top Navbar</a></li>
	<li><a href="#navbar2">Navbar/Dropdown</a></li>
	<li><a href="#navbar2-link"></a>Dropdown Item</li>
	<li><a href="#navbar-drop">Header Dropdown Menu</a></li>
	<li><a href="#search-bar">Header Search Bar</a></li>
	<li><a href="#wishlist">Wishlist Button</a></li> -->
	
	<div class="component-wrapper">
	<p>Full Header</p>
	<img class="screenshot" src="images/Components/header/BnN-Header.png" alt="full page header" id="full-header">
	</div>
	
	<div class="component-wrapper">
	<p>Account Dropdown</p>
	<img class="screenshot" src="images/Components/header/Account.png" alt="account button" id="account">
	<div class="account">
	<svg class="account__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M406.5 399.6C387.4 352.9 341.5 320 288 320H224c-53.5 0-99.4 32.9-118.5 79.6C69.9 362.2 48 311.7 48 256C48 141.1 141.1 48 256 48s208 93.1 208 208c0 55.7-21.9 106.2-57.5 143.6zm-40.1 32.7C334.4 452.4 296.6 464 256 464s-78.4-11.6-110.5-31.7c7.3-36.7 39.7-64.3 78.5-64.3h64c38.8 0 71.2 27.6 78.5 64.3zM256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zm0-272a40 40 0 1 1 0-80 40 40 0 1 1 0 80zm-88-40a88 88 0 1 0 176 0 88 88 0 1 0 -176 0z"/></svg>
	<p class="account__label">My  Account</p>
	<svg class="dropdown-chevron" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/></svg>
	</div>
	</div>
	
	<div class="component-wrapper">
	<p>Top Navbar</p>
	<img class="screenshot" src="images/Components/header/Navbar1.png" alt="top navbar" id="navbar1">
	<nav class="navbar1">
		<ul class="navlist1">
		<li class="nav-colorborder"><a class="topnav__item" href="#!">
		<svg class="location-icon" xmlns="http://www.w3.org/2000/svg"><path d="M6.024.138c1.664 0 3.215.72 4.32 1.964a6.405 6.405 0 011.581 4.238c0 .443-.045.882-.132 1.312l-.171-.03.162.048a10.377 10.377 0 01-1.388 2.959l-.229.318-4.163 6.582-4.16-6.568A10.349 10.349 0 01.219 7.69a6.304 6.304 0 01-.143-1.343c0-1.591.573-3.092 1.592-4.248A5.757 5.757 0 015.983.138zm0 1.35h-.04a4.407 4.407 0 00-3.306 1.505 5.055 5.055 0 00-1.253 3.354c0 .358.036.702.1 1.007a9.09 9.09 0 001.43 2.841l3.047 4.81 3.054-4.823a8.943 8.943 0 001.321-2.536l.104-.332.035-.19c.026-.172.043-.346.052-.52l.007-.264c0-1.259-.45-2.44-1.244-3.344-.85-.957-2.035-1.508-3.307-1.508zM6 3.813a2 2 0 110 4 2 2 0 010-4z" fill="#000" fill-rule="nonzero"></path></svg>
		Stores & Events</a></li>
		<li class="nav-colorborder"><a class="topnav__item" href="#!">Blog & Podcast</a></li>
		<li class="nav-colorborder"><a class="topnav__item" href="#!">Membership</a></li>
		<li class="nav-colorborder"><a class="topnav__item" href="#!">Coupons & Deals</a></li>
		<li class="nav-colorborder"><a class="topnav__item" href="#!">Bestsellers</a></li>
		<li><a class="topnav__item" href="#!">Gift Cards</a></li>
		</ul>
	</nav>
	</div>
	
<!-- 	<div class="component-wrapper">
	<p>Navbar/Dropdown (image shrunk due to screen size)</p>
	<img class="screenshot" src="images/Components/header/Navbar2.png" alt="Navbar/Dropdown" id="navbar2">
		<nav class="navbar2">
			<ul class="navlist2">
				<li class="nav-doubleborder"><a class="nav2__item" href="#!">Books</a></li>
				<li class="nav-colorborder"><a class="nav2__item" href="#!">Fiction</a></li>
				<li class="nav-colorborder"><a class="nav2__item" href="#!">Nonfiction</a></li>
				<li class="nav-colorborder"><a class="nav2__item" href="#!">eBooks</a></li>
				<li class="nav-colorborder"><a class="nav2__item" href="#!">Audiobooks</a></li>
				<li class="nav-colorborder"><a class="nav2__item" href="#!">Teens & YA</a></li>
				<li class="nav-colorborder"><a class="nav2__item" href="#!">Kids</a></li>
				<li class="nav-colorborder"><a class="nav2__item" href="#!">Toys & Games</a></li>
				<li class="nav-colorborder"><a class="nav2__item" href="#!">Stationery & Gifts</a></li>
				<li><a class="nav2__item" href="#!">Music & Movies</a></li>
			</ul>
		</nav>
	</div> -->
	
	<div class="component-wrapper">
	<p>Dropdown Item</p>
	<img class="screenshot" src="images/Components/header/Navbar2__Link.png" alt="dropdown item" id="navbar2-link">
	<nav class="navbar2">
			<ul class="navlist2">
				<li class="nav-doubleborder"><button class="nav2__item">Books</button>
			  </li>
			</ul>
		</nav>
	</div>
	
	<!-- <div class="component-wrapper">
	<p>Header Dropdown Menu</p>
	<img class="screenshot" src="images/Components/header/navbar-dropdown.png" alt="dropdown menu" id="navbar-drop">
		<div class="dropdown-content">
		<h5>Fiction <svg class="header-chevron" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/></svg></h5>
		<div class="dc-grid">
		<ul class="dc-list">
		<li class="dc-list__header">
		<svg class="star-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M287.9 0c9.2 0 17.6 5.2 21.6 13.5l68.6 141.3 153.2 22.6c9 1.3 16.5 7.6 19.3 16.3s.5 18.1-5.9 24.5L433.6 328.4l26.2 155.6c1.5 9-2.2 18.1-9.7 23.5s-17.3 6-25.3 1.7l-137-73.2L151 509.1c-8.1 4.3-17.9 3.7-25.3-1.7s-11.2-14.5-9.7-23.5l26.2-155.6L31.1 218.2c-6.5-6.4-8.7-15.9-5.9-24.5s10.3-14.9 19.3-16.3l153.2-22.6L266.3 13.5C270.4 5.2 278.7 0 287.9 0zm0 79L235.4 187.2c-3.5 7.1-10.2 12.1-18.1 13.3L99 217.9 184.9 303c5.5 5.5 8.1 13.3 6.8 21L171.4 443.7l105.2-56.2c7.1-3.8 15.6-3.8 22.6 0l105.2 56.2L384.2 324.1c-1.3-7.7 1.2-15.5 6.8-21l85.9-85.1L358.6 200.5c-7.8-1.2-14.6-6.1-18.1-13.3L287.9 79z"/></svg> Bestsellers</li>
		<li><a class="dc-list__item">Fiction Bestsellers</a></li>
		<li><a class="dc-list__item">B&N Top 100</a></li>
		<li><a class="dc-list__item">NY Times Bestsellers</a></li>
		<li><a class="dc-list__item">All Bestsellers</a></li>
		</ul>
		<ul class="dc-list longlist">
		<li class="dc-list__header">Fiction Subjects</li>
		<li><a class="dc-list__item">Classics</a></li>
		<li><a class="dc-list__item">Folklore & Mythology</a></li>
		<li><a class="dc-list__item">General Fiction</a></li>
		<li><a class="dc-list__item">Graphic Novels</a></li>
		<li><a class="dc-list__item">Historical Fiction</a></li>
		<li><a class="dc-list__item">Horror</a></li>
		<li><a class="dc-list__item">Literary Fiction</a></li>
		<li><a class="dc-list__item">Manga</a></li>
		<li><a class="dc-list__item">Mystery & Crime</a></li>
		<li><a class="dc-list__item">Poetry</a></li>
		<li><a class="dc-list__item">Romance</a></li>
		<li><a class="dc-list__item">Rom-Coms</a></li>
		<li><a class="dc-list__item">Sci-Fi & Fantasy</a></li>
		<li><a class="dc-list__item">Thrillers</a></li>
		<li><a class="dc-list__item">See All Subjects <svg class="link-chevron-/-black" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/></svg></a></li>
		</ul>
		<ul class="dc-list longlist">
		<li class="dc-list__header">Browse</li>
		<li><a class="dc-list__item">Audiobooks</a></li>
		<li><a class="dc-list__item">Best Books of the Year</a></li>
		<li><a class="dc-list__item">Black Voices</a></li>
		<li><a class="dc-list__item">Book Awards</a></li>
		<li><a class="dc-list__item">Boxed Sets</a></li>
		<li><a class="dc-list__item">Buy 1, Get 1 50% Off</a></li>
		<li><a class="dc-list__item">Books in Foreign Languages</a></li>
		<li><a class="dc-list__item">Large Print</a></li>
		<li><a class="dc-list__item">Page & Screen</a></li>
		<li><a class="dc-list__item">Paperback Store</a></li>
		<li><a class="dc-list__item">Trend Shop</a></li>
		<li><a class="dc-list__item">Things to Do at Home</a></li>
		</ul>
		<ul class="dc-list longlist">
		<li class="dc-list__header">We Recommend</li>
		<li><a class="dc-list__item">B&N Bookseller Picks</a></li>
		<li><a class="dc-list__item">B&N Discover Picks</a></li>
		<li><a class="dc-list__item">B&N Exclusives</a></li>
		<li><a class="dc-list__item">B&N Monthly Picks</a></li>
		<li><a class="dc-list__item">Book Club Picks</a></li>
		<li><a class="dc-list__item">B&N Discover Prize</a></li>
		<li><a class="dc-list__item">B&N Book of the Year</a></li>
		<li><a class="dc-list__item">B&N Reads - Our Books Blog</a></li>
		<li><a class="dc-list__item">Poured Over - Our Podcast</a></li>
		</ul>
		<ul class="dc-list">
		<li class="dc-list__header">Shop Fiction</li>
		<li><a class="dc-list__item">Fiction New Releases</a></li>
		<li><a class="dc-list__item">Fiction Coming Soon</a></li>
		<li><a class="dc-list__item">Signed Books</a></li>
		<li><a class="dc-list__item">Up to 30% Off the Biggest Books</a></li>
		</ul>
		</div>
		<div class="dc-featured">
		<img src="" alt="featured book">
		<p>Discover a Debut Author</p>
		<a href="!#">Shop Now</a>
		</div>
		</div>
	</div> -->
	
	<div class="component-wrapper">
	<p>Header Search Bar</p>
	<img class="screenshot" src="images/Components/header/SearchBar.png" alt="header search bar" id="search-bar">
	<form class="searchbar" >
		<select id="filters" class="searchbar__filter">
			<option value="All">All</option>
			<option value="Books">Books</option>
			<option value="Audiobooks">Audiobooks</option>
			<option value="NOOK">ebooks & NOOK</option>
			<option value="Textbooks">Textbooks</option>
			<option value="Newsstand">Newsstand</option>
			<option value="Teens">Teens & YA</option>
			<option value="Kids">Kids</option>
			<option value="Toys">Toys & Games</option>
			<option value="Gifts">Stationery & Gifts</option>
			<option value="Movies">Movies & TV</option>
			<option value="Music">Music</option>
			<option value="Book Annex">Book Annex</option>
		</select>
		<input class="searchbar__textbox" type="text" placeholder="Search by Title, Author, Keyword or ISBN" value="">
		<label>
		<input class="footer-submitbtn" type="submit" value="">
		<svg class="search-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/></svg>
		</label>
	</form>
	</div>
	
	<div class="component-wrapper">
	<p>Wishlist Button</p>
	<img class="screenshot" src="images/Components/header/Wishlist.png" alt="wishlist button" id="wishlist">
	<a class="wishlist-link" href="#!">
	<svg class="wishlist-icon2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M225.8 468.2l-2.5-2.3L48.1 303.2C17.4 274.7 0 234.7 0 192.8v-3.3c0-70.4 50-130.8 119.2-144C158.6 37.9 198.9 47 231 69.6c9 6.4 17.4 13.8 25 22.3c4.2-4.8 8.7-9.2 13.5-13.3c3.7-3.2 7.5-6.2 11.5-9c0 0 0 0 0 0C313.1 47 353.4 37.9 392.8 45.4C462 58.6 512 119.1 512 189.5v3.3c0 41.9-17.4 81.9-48.1 110.4L288.7 465.9l-2.5 2.3c-8.2 7.6-19 11.9-30.2 11.9s-22-4.2-30.2-11.9zM239.1 145c-.4-.3-.7-.7-1-1.1l-17.8-20c0 0-.1-.1-.1-.1c0 0 0 0 0 0c-23.1-25.9-58-37.7-92-31.2C81.6 101.5 48 142.1 48 189.5v3.3c0 28.5 11.9 55.8 32.8 75.2L256 430.7 431.2 268c20.9-19.4 32.8-46.7 32.8-75.2v-3.3c0-47.3-33.6-88-80.1-96.9c-34-6.5-69 5.4-92 31.2c0 0 0 0-.1 .1s0 0-.1 .1l-17.8 20c-.3 .4-.7 .7-1 1.1c-4.5 4.5-10.6 7-16.9 7s-12.4-2.5-16.9-7z"/></svg>
	Wishlist</a>
	</div>
	
	<h3 class="comps-sectionhead">Links</h3>
	
	<div class="component-wrapper">
	<img class="screenshot" src="images/links/BookInfo__author.png" alt="link" id="author">
	<p>by <a class="listing__link" href="#!">Rebecca Yarros</a></p>
	<p>Inline Link (body, author, format):: Lato - weight:400, line-height:1, size:.9375rem, color:#347d56</p>
	</div>
	
	<div class="component-wrapper">
	<img class="screenshot" src="images/links/CarouselList__seealllink.png" alt="link" id="seeall">
	<a class="list-link" href="#!">See All</a>
	<p>Link for Carousel/Slick list:: Lato - font-size:1.078rem, color:black</p>
	</div>
	
	<div class="component-wrapper">
	<img class="screenshot" src="images/links/ftlinklist__item.png" alt="link" id="ftllist-item">
	<a class="ftlinklist__item" href="#!">Affiliate Program</a>
	<p>Footer List Link - Lato - color: #3e5962</p>
	</div>
	
	<div class="component-wrapper">
	<img class="screenshot" src="images/links/Header__Logo.png" alt="link" id="logo">
	<a href="#!"><img class="screenshot" src="images/links/Header__Logo.png" alt="link"></a>
	<p>Header Logo/Link to Home</p>
	</div>
	
	<div class="component-wrapper">
	<img class="screenshot" src="images/links/inline-link.png" alt="link" id="inline-link">
	<p>Inline Link (body, author, format):: Lato - weight:400, line-height:1, size:.9375rem, color:#347d56</p>
	<a class="listing__link" href="#!">Rebecca Yarros</a>
	</div>
	
	<div class="component-wrapper">
	<img class="screenshot" src="images/links/Navbar1__Link.png" alt="link" id="navbar1-link">
	<p>Top Navbar Link:: Lato - uppercase, weight:500, color:#484848 </p>
	<a class="topnav__item" href="#!">Stores & Events</a>
	</div>
	
	<div class="component-wrapper">
	<img class="screenshot" src="images/links/PricingInfo__formatbtn.png" alt="link" id="pricing-format">
	<p>Book Listing Format Link:: Lato</p>
	<a class="listing__link" href="#!">Hardcover</a>
	</div>
	
	<div class="component-wrapper">
	<img class="screenshot" src="images/links/rewardsblock__link.png" alt="link" id="rewards-link">
	<p>Footer Block Link:: Lato - font-weight:600, color:black</p>
	<a class="ftinline-link" href="#!">Learn More</a>
	</div>
	
	<div class="component-wrapper">
	<img class="screenshot" src="images/links/Wishlist__Link.png" alt="link" id="wishlist-link">
	<p>Wishlist Link:: Lato - uppercase, font-weight:500, color:#484848, text-decoration:none, padding:5px</p>
	<a class="wishlist-link" href="#!">Wishlist</a>
	</div>
	
	<h3 class="comps-sectionhead">Banners/Ads</h3>
	
<!-- 	<li><a href="#header-ad">Header Ad</a></li>
	<li><a href="#banner-list">Banner Carousel</a></li> -->
	
	<div class="component-wrapper">
	<img class="screenshot" src="images/banners/header-ad.png" alt="banner" id="header-ad">
	<p>Banner Ad for Header</p>
	<a class="banner-link" href="#!"><img class="ad__banner" src="images/banners/rewards-ad.png" alt="banner"></a>
	<a class="banner-link" href="#!"><p class="ad__text">Members Get 10% Off and Earn Rewards  <span style="text-decoration:underline;">Find Out More</span></p></a>
	</div>
	
	<div class="component-wrapper">
	<img class="screenshot" src="images/banners/banner-list.png" alt="banner" id="banner-list">
	<p>Banner Carousel</p>
	<a class="banner-list" href="#!">
	<svg class=" clcontrol clcontrol-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256 246.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z"/></svg>
	<!-- <img class="ad__banner" src="images/banners/totfbanner.jpg" alt="banner"> -->
	<img class="ad__banner" src="images/banners/banner-list.png" alt="banner">
	<svg class="clcontrol clcontrol-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/></svg>
	</a>
	
	</div>
	
	<h3 class="comps-sectionhead">Footer</h3>
	
	<!-- <ul>
	<li><a href="#footer">Full Footer</a></li>
	<li><a href="#featuredlinks">List of Featured Links</a></li>
	<li><a href="#ftlinklist">Link List</a></li>
	<li><a href="#rewardsblock">Rewards Block</a></li>
	<li><a href="#socialblock">Social Media Block</a></li>
	<li><a href="#storefinder">Store Finder Block</a></li>
	<li><a href="#sfinput">Store Finder Textbox</a></li>
	<li><a href="#subblock">Subscribe Block</a></li>
	<li><a href="#subinput">Subscribe Textbox</a></li>
	</ul> -->
	
	<div class="component-wrapper">
	<img class="screenshot" src="images/Components/footer/BnN-Footer.png" alt="full footer" id="footer">
	<p>Full Footer</p>
	</div>
	
	<div class="component-wrapper">
	<img class="screenshot" src="images/Components/footer/featuredLinks.png" alt="link list" id="featuredlinks">
	<p>List of Featured Links</p>
	<ul class="featured-list">
	<li>
	<a class="ft-featured" href="#!"><img class="ft-featured__img" src="images/atoms/ftfeatured__item.png" alt="link">B&N APPS</a>
	</li>
	<li>
	<a class="ft-featured" href="#!"><img class="ft-featured__img" src="images/atoms/ftfeatured__item.png" alt="link">B&N AUDIOBOOKS</a>
	</li>
	<li>
	<a class="ft-featured" href="#!"><img class="ft-featured__img" src="images/atoms/ftfeatured__item.png" alt="link">B&N READS BLOG</a>
	</li>
	<li>
	<a class="ft-featured" href="#!"><img class="ft-featured__img" src="images/atoms/ftfeatured__item.png" alt="link">B&N PODCAST</a>
	</li>
	<li>
	<a class="ft-featured" href="#!"><img class="ft-featured__img" src="images/atoms/ftfeatured__item.png" alt="link">B&N MEMBERSHIP</a>
	</li>
	<li>
	<a class="ft-featured" href="#!"><img class="ft-featured__img" src="images/atoms/ftfeatured__item.png" alt="link">IN STORE PICKUP</a>
	</li>
	<li>
	<a class="ft-featured" href="#!"><img class="ft-featured__img" src="images/atoms/ftfeatured__item.png" alt="link">GIFT CARDS</a>
	</li>
	<li>
	<a class="ft-featured" href="#!"><img class="ft-featured__img" src="images/atoms/ftfeatured__item.png" alt="link">STORES & EVENTS</a>
	</li>
	<li>
	<a class="ft-featured" href="#!"><img class="ft-featured__img" src="images/atoms/ftfeatured__item.png" alt="link">B&N MASTERCARD</a>
	</li>
	</ul>
	</div>
	
	<div class="component-wrapper">
	<img class="screenshot" src="images/Components/footer/ftlinklist.png" alt="link list" id="ftlinklist">
	<p>Link List</p>
	<ul class="ftlinklist">
	<li><h4 class="footer__listheader">B&N Services</h4></li>
	<li><a class="ftlinklist__item" href="#!">Affiliate Program</a></li>
	<li><a class="ftlinklist__item" href="#!">Publisher & Author Guidelines</a></li>
	<li><a class="ftlinklist__item" href="#!">Bulk Order Discounts</a></li>
	<li><a class="ftlinklist__item" href="#!">B&N Mobile Apps</a></li>
	<li><a class="ftlinklist__item" href="#!">B&N Membership</a></li>
	<li><a class="ftlinklist__item" href="#!">B&N Mastercard</a></li>
	<li><a class="ftlinklist__item" href="#!">B&N Bookfairs</a></li>
	<li><a class="ftlinklist__item" href="#!">B&N Press</a></li>
	</ul>
	</div>
	
	<div class="component-wrapper">
	<img class="screenshot" src="images/Components/footer/rewardsblock.png" alt="content block" id="rewardsblock">
	<p>Rewards Block</p>
	<div class="rewardsblock">
	<h4 class="footer__blockheader">Rewards</h4>
	<p class="ftrewards__text">Enroll in Rewards for <b>FREE</b>. Watch your savings add up!</p>
	<a class="ftinline-link" href="#!">Learn More</a><a class="ftinline-link" href="#!">Sign Up Free</a>
	</div>
	</div>
	
	<div class="component-wrapper">
	<img class="screenshot" src="images/Components/footer/socialblock.png" alt="social media links" id="socialblock">
	<p>Social Media Block</p>
	<div class="socialblock">
	<h4 class="footer__blockheader">Follow Us</h4>
		<ul class="social-list">
		<li>
		<a class="socialblock__button">
			<svg class="social-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M80 299.3V512H196V299.3h86.5l18-97.8H196V166.9c0-51.7 20.3-71.5 72.7-71.5c16.3 0 29.4 .4 37 1.2V7.9C291.4 4 256.4 0 236.2 0C129.3 0 80 50.5 80 159.4v42.1H14v97.8H80z"/></svg>
		</a>
		</li>
		<li>
		<a class="socialblock__button">
			<svg class="social-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M80 299.3V512H196V299.3h86.5l18-97.8H196V166.9c0-51.7 20.3-71.5 72.7-71.5c16.3 0 29.4 .4 37 1.2V7.9C291.4 4 256.4 0 236.2 0C129.3 0 80 50.5 80 159.4v42.1H14v97.8H80z"/></svg>
		</a>
		</li>
		<li>
		<a class="socialblock__button">
			<svg class="social-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M80 299.3V512H196V299.3h86.5l18-97.8H196V166.9c0-51.7 20.3-71.5 72.7-71.5c16.3 0 29.4 .4 37 1.2V7.9C291.4 4 256.4 0 236.2 0C129.3 0 80 50.5 80 159.4v42.1H14v97.8H80z"/></svg>
		</a>
		</li>
		<li>
		<a class="socialblock__button">
			<svg class="social-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M80 299.3V512H196V299.3h86.5l18-97.8H196V166.9c0-51.7 20.3-71.5 72.7-71.5c16.3 0 29.4 .4 37 1.2V7.9C291.4 4 256.4 0 236.2 0C129.3 0 80 50.5 80 159.4v42.1H14v97.8H80z"/></svg>
		</a>
		</li>
		<li>
		<a class="socialblock__button">
			<svg class="social-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M80 299.3V512H196V299.3h86.5l18-97.8H196V166.9c0-51.7 20.3-71.5 72.7-71.5c16.3 0 29.4 .4 37 1.2V7.9C291.4 4 256.4 0 236.2 0C129.3 0 80 50.5 80 159.4v42.1H14v97.8H80z"/></svg>
		</a>
		</li>
		<li>
		<a class="socialblock__button">
			<svg class="social-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M80 299.3V512H196V299.3h86.5l18-97.8H196V166.9c0-51.7 20.3-71.5 72.7-71.5c16.3 0 29.4 .4 37 1.2V7.9C291.4 4 256.4 0 236.2 0C129.3 0 80 50.5 80 159.4v42.1H14v97.8H80z"/></svg>
		</a>
		</li>
		
		</ul>
	</div>
	</div>
	
	<div class="component-wrapper">
	<img class="screenshot" src="images/Components/footer/storefinderblock.png" alt="store finder block" id="storefinder">
	<p>Store Finder Block</p>
	<div class="storefinder">
		<h4 class="footer__blockheader">Find a Store</h4>
		<form class="ftinput" >
		<input class="ftinput__textbox" type="text" placeholder="Store name, location, or ZIP code" value="">
		<input class="footer-submitbtn" type="submit" value="">
		<svg class="submit-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/></svg>
		</form>
	</div>
	</div>
	
	<div class="component-wrapper">
	<img class="screenshot" src="images/Components/footer/storefindertextbox.png" alt="text input" id="sfinput">
	<p>Store Finder Textbox</p>
	<div class="storefinder">
		<form class="ftinput" >
		<input class="ftinput__textbox" type="text" placeholder="Store name, location, or ZIP code" value="">
		<input class="footer-submitbtn" type="submit" value="">
		<svg class="submit-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/></svg>
		</form>
	</div>
	</div>
	
	<div class="component-wrapper">
	<img class="screenshot" src="images/Components/footer/subscribeblock.png" alt="content block" id="subblock">
	<p>Subscribe Block</p>
	<div class="subblock">
		<h4 class="footer__blockheader">Stay in the Know</h4>
		<form class="ftinput" >
		<input class="ftinput__textbox" type="text" placeholder="Email Address" value="">
		<input class="footer-submitbtn" type="submit" value="">
		<svg class="submit-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/></svg>
		</form>
		<p class="ftsubscribe__text">Submit your email address to receive Barnes & Noble offers & updates. You can view Barnes & Noble’s Privacy Policy <a href="#!">here</a>. Unsubscribe from our emails at any time. </p>
	</div>
	</div>
	
	<div class="component-wrapper">
	<img class="screenshot" src="images/Components/footer/subscribeTextbox.png" alt="text input" id="subinput">
	<p>Subscribe Textbox</p>
	<div class="subblock">
		<form class="ftinput" >
		<input class="ftinput__textbox" type="text" placeholder="Email Address" value="">
		<input class="footer-submitbtn" type="submit" value="">
		<svg class="submit-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/></svg>
		</form>
	</div>
	</div>
	
	<h3 class="comps-sectionhead">List Items</h3>
	<div class="component-wrapper">
	<img src="images/Components/book/BnN-BookListing.png"	alt="book listing component" class="screenshot" id="booklisting">
	<div class="listing-wrapper">
		<h3 class="list-index">1</h3>
		<article class="listing">
		
		<div class="image-wrapper">
			<img class="listing__cover" src="images/covers/book1.webp" alt="book cover">
			<svg class="wishlist-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z"/></svg>
		</div>
		<div class="info-wrapper">
			<div class="header-wrapper">
				<h4 class="listing__header">
				<a href="#!">Onyx Storm (Deluxe Limited Edition)</a>
				<span class="listing__date">(01/21/2025)</span>
				</h4>
			</div>
			<p class="listing__author">by <a class="listing__link" href="#!">Rebecca Yarros</a></p>
			<div class="listing__rating">
				<img src="images/Components/book/BookInfo__rating.png" alt="rating">
			</div>
			
			<table class="pricinginfo">
			<thead>
			<tr>
			<th class="pricinginfo__colheader">Format</th>
			<th class="pricinginfo__colheader">BN.com</th>
			<th class="pricinginfo__colheader">Availability</th>
			</tr>
			</thead>
		
			<tbody>
			<tr>
			<td class="pricinginfo__formatbtn">
				<a class="listing__link" href="#!">Hardcover</a>
			</td>
			<td class="pricinginfo__price">$32.99</td>
			<td class="pricinginfo__availability">
			<svg class="pricinginfo__checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/></svg> Pre-order Now</td>
			</tr>
			</tbody>
			</table>
		
			<div class="bottom-row">
			<p class="pricinginfo__options">Also available as: 
			<a class="listing__link" href="#!">Hardcover</a>, 
			<a class="listing__link" href="#!">See All 
			<svg class="link-chevron" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/></svg></a> 
			
			</p>
		
			<a class="listing__orderbtn" href="#!">PRE-ORDER</a>
			</div>
			
		</div>
		
		</article>
	</div>
	</div>
	
	
</main>
</body>
</html>
