/*  CSS File for Component Library*/
	
	:root{
		--green:#347d56;
		--green-dark:#3e5962;
		
	}
	
	body{
	display:flex;
	font-family:Lato, sans-serif;
	margin:0;
	padding:0;
	color:#21282d;
	line-height:1.5;
	}
	
	p{
		font-size:15px;
	}
	
	.screenshot{
		width:auto;
		max-width:1000px;
		object-fit:cover;
	}
	
	h1,h2{
		font-family: Poynter, Georgia, serif;
	}
	
	h2{
		font-size:29px;
		font-style:italic;
		color:#21282d;
		font-weight:600;
		line-height:1.5;
	}
	
	h3,h4{
		padding:0;
		margin:0;
	}
	
	table{
		border-collapse:collapse;
		width:100%;
	}
	
	a{
		font-family: Lato, sans-serif;
	}
	
	a:hover{
		/*color:var(--green);*/
	}
	
	img{
		width:auto;
	}
	
	tr{
		border-bottom: 1px solid #ccc;
	}
	
	th{
		color:#4a4a4a;
		text-align:left;
		font-style:normal;
		font-weight:400;
	}
	
	td{
		display:table-cell;
		padding: 5px 0;	
		min-width: 7rem;
		max-width: 250px;
	}
	
	main{
		max-width:1067px;
	
	}
	
	aside{
		background-color: #ccc;
		padding:20px;
		margin-right:20px;
	}
	
	b{
		color:black;
		font-weight:600;
	}
	
	.small-text{
		font-size:10px;
	}
	
	/**  Page Header  **/
	.searchbar__filter{
		background-color:#ddd;
		border: 1px solid #3e5962;
		font-size:20px;
		padding: 8px 32px 8px 16px;
		cursor:pointer;
	}
	
	.searchbar__filter option{
		cursor:pointer;
	}
	
	.searchbar__filter option:hover{
		background-color:#d8d8d8 !important;
		text-decoration:underline;
		
	}
	
	.searchbar__textbox{
		color: rgb(33, 40, 45);
		padding:10px;
		width:calc(100% - 40px);
		display:flex;
		flex-grow:1;
		line-height:1.5;
		font-weight:600;
		font-size:18px;
	}
	
	.account__label{
		text-transform:uppercase;
		font-size:15px;
		color:#484848 !important;
		line-height:normal;
	}
	
	.component-wrapper{
		border:2px solid black;
		padding:10px;
	}
	
	.comps-sectionhead{
		margin: 20px 0;
	}
	
	/**  Banners  **/
	
	.banner-link{
		background-color:var(--green-dark);
		max-width:1000px;
		display:block;
		max-height:56px;
		margin-bottom:3px;
		
	}
	.ad__banner{
		max-width:1000px;
		object-fit:cover;
	}
	
	.ad__text{
		color:white;
		text-align:center;
		font-size:12px;
		margin:0;
		padding: 5px 0;
	}
	
	.banner-list{
		position:relative;
	}
	
	.list-index{
		font-size:1.4286rem;	
	}
	
	.listing-wrapper{
		display:flex;
		flex-wrap:wrap;
		margin-left:0;
		margin-right:0;
	}
	
	.info-wrapper{
		flex-grow:100;
		margin-left:20px;
	}
	
	.header-wrapper{
		display:flex;
	}
	
	.image-wrapper{
		position:relative;
		max-height:200px !important;
		max-width: 144px !important;
		margin-right:15px;
		margin-bottom:20px;
	}
	
	.listing{
		display:flex;
		margin:5px;
		width:auto;
		flex-grow:100;
		
	}
	
	.listing__header a{
		font-size:1.375rem;
		color:black;
		text-decoration:none;
		font-weight:400;
	}
	
	.listing__header a:hover{
		text-decoration:underline;
	}
	
	.listing__author{
		margin:0;
	}
	
	.listing__cover{
		max-width:144px;
		max-height:300px;
		object-fit:cover;
	}
	
	.listing__date{
		color: #727272;
		font-size:12pt;
		font-weight:300;
	}
	
	.listing__link{
		text-decoration:none;
		color:var(--green);
	}
	
	.listing__link:hover{
		text-decoration:underline;
	}
	.pricinginfo__colheader{
		font-size:15px;
	}
	
	.pricinginfo__price{
		font-weight: 700;
		font-size: 20px;
	}
	
	.pricinginfo__availability{
		font-weight:600;
		font-size:15px;
	}
	
	.pricinginfo__price:hover{
		text-decoration:underline;
	}
	
	.pricinginfo__checkmark{
		width:.55rem;
		fill:var(--green);
	}
	
	.link-chevron{
		width:.923rem;
		height:.923rem;
		fill:var(--green);
	}
	
	.dropdown-chevron{
		width:18px;
		height:18px;
		fill:black;
	}
	
	.account__icon{
		width:24px;
		height:24px;
		fill:black;
	}
	
	.clcontrol-left{
		width:22px;
		height:22px;
		fill:black;
	}
	
	.clcontrol-right{
		width:22px;
		height:22px;
		fill:black;
	}
	
	.cart-icon{
		height:55px;
		width:62px;
	}
	/**  Top Navbar  **/
	
	.topnav__item{
		color:#484848 !important;
		text-transform:uppercase;
		font-weight:500;
		border-right: 2px solid rgb(175, 157, 105);
		text-decoration:none;
		padding: 5px 10px 5px 0;
	}
	
	.topnav__item:hover{
		border-bottom: 1px solid rgb(175, 157, 105);
	}
	
	.cart__items{
		border-radius:16px;
		background-color:var(--green-dark);
		min-width:22px;
		width:auto;
		height:22px;
		color:white;
		font-weight:500;
		display:inline;
		text-align:center;
		padding:5px 8px;
	}
	
	.wishlist-link{
		text-transform:uppercase;
		font-weight:500;
		color:#484848;
		text-decoration:none;
		padding:5px;
	}
	
	.wishlist-link:hover{
		border-bottom: 1px solid rgb(175, 157, 105);
	}
	
	.wishlist-icon{
		width: 1rem;
		height:1rem;
		background-color:rgba(255,255,255,.5);
		border:1px solid black;
		border-radius:15px;
		fill: rgba(230,230,230, 1);
		position:absolute;
		top:.375rem;
		right:.375rem;
		padding:.375rem;
	}
	
	.wishlist-icon2{
		width: 1.3rem;
		height:1.3rem;
	}
	
	.wishlist-icon:hover{
		border: 1px solid red;
	}
	
	.submit-icon{
		width:26px;
		height:26px;
		fill:white;
		background-color:var(--green-dark);
		cursor: pointer;
		padding:12px;
	}
	
	.search-icon{
		width:26px;
		height:26px;
		fill:white;
		background-color:var(--green-dark);
		cursor: pointer;
		padding:12px 25px;
	}
	
	.listing__orderbtn{
		display:flex;
		background-color:#3d6db5;
		padding:.9375rem 4rem;
		color: white;
		text-decoration:none;
		align-items:center;
		justify-items:center;
		max-width:100px;
	}
	
	.bottom-row{
		display:flex;
		width:100%;
		flex-shrink:0;
		justify-content: space-between;
		margin-top:10px;
	}
	
	/**  Carousel/Slick List **/
	
	.list-link{
		font-size:1.078rem;
		color:black;
	}
	
	.list-link:hover{
		color:var(--green);
	}
	
	/**  Footer  **/
	
	.footer__blockheader{
		text-transform:uppercase;
		letter-spacing:0.35px;
		font-size:0.9375rem;
		color:black;
		line-height:1.5;
	}
	
	.footer__listheader{
		text-transform:uppercase;
		letter-spacing:0.35px;
		font-size:0.9375rem;
		color:black;
		line-height:1.5;
	}
	
	.ftrewards__text{
		margin-bottom:2px; 
		font-size:15px; 
		color:#6e7880;
		letter-spacing:0.4px;		
		line-height: 18px;
		font-weight:500;
		width:281px;
	}
	
	.ftsubscribe__text{
		font-size:15px; 
		color:#6e7880;
		letter-spacing:0.4px;		
		line-height: 18px;
		width: 351px;
		font-weight:500;
	}
	
	.ftsubscribe__text a{
		color:black;
	}
	
	.ft-featured__img{
		height:72px;
		width:75px;
		display:block;
		overflow:hidden;
	}
	
	.ft-featured{
		display:flex;
		flex-direction:column;
		text-decoration:none;
		color:black;
		font-weight:600;
		align-items:center;
		margin: 0 24px 10px 0;
		max-width:75px;
		font-size:14px;
	}
	
	.footer-submitbtn{
		/* background-color: var(--green-dark);
		height:40px;
		width:40px; */
		display:none;
	}
	
	.ftinput__textbox{
		color: rgb(33, 40, 45);
		padding:10px 15px;
		width:calc(100% - 40px);
		display:flex;
		flex-grow:1;
		line-height:1.5;
		font-weight:600;
		font-size:15px;
	}
	
	.socialblock__button{
		background-color:black;
		border-radius:30px;
		cursor:pointer;
		width:42px;
		height:42px;
		display:flex;
		align-items:center;
		justify-content:center;
	}
	
	.social-icon{
		fill:white;
		width:12px;
		height:30px;
		display:inline-block;
		line-height:30px;
	}
	
	.location-icon{
		width:18px;
		height:24px;
	}
	
	.ftlinklist__item{
		color: #3e5962;
		text-decoration:none;
	}
	
	.ftlinklist__item:hover{
		text-decoration:underline;
	}
	
	.ftinline-link{
		font-weight:600;
		color:black;
	}
	
	